* {
  box-sizing: border-box;
}
:root {
 --background:rgb(216, 216, 239);
 --text:rgb(18, 18, 18);

}



body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: var(--background);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
/*header*/
header{
  height:100px;
  padding:10px;
  border-bottom:0px;
  margin-bottom:30px;
}
.hero h2{
  background-color: rgba(208, 226, 230, 0.6);
}
.hero img{
  height: 100px;
  width:auto;
}
/*navigation bar*/
nav {
  display: flex;
  flex-direction: row;
  margin: 0px 5%;
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 24px;
}

ul {
  list-style: none;
  margin: 10px;
  padding: 0;
  align-items: flex-start;
}
li {
  float: right;
}

li a {
  display: block;
  text-align: center;
  padding: 14px ;
  text-decoration: none;
}

/*hero image*/
.hero{
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-position: center;
}
.hero h2{
  margin: 2px white ;
}

/*avatar*/

/*title positioning*/
.page-section h2{
  text-align: center;
  text-decoration: underline dotted green;
}
/*about me*/
.page-section p{
  padding:20px;
  text-align:center;
  text-wrap:balance;
}

/*grid for my work section*/
#portfolio-grid {
  margin: 0px 5%;
  display: grid;
  min-height: 800px;
  height: 70vh;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr ;
  grid-template-areas:
  "project1 project1 "
  "project1 project1 "
  "project2 project3 "
  "project4 project5 ";
}

#project1 {
  grid-area: project1;
}

#project2 {
  grid-area: project2;
}

#project3 {
  grid-area: project3;
}

#project4 {
  grid-area: project4;
}

#project5 {
  grid-area: project5;
}


.grid-area {
  align-items: center;
  display: flex;
  position: relative;
  background-color: rgba(208, 226, 230, 0.6);
}
/*practise arena*/
.grid-area .card-header {
  /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
  position: relative;
  right:-20%;
  top:40%;
  padding: 0.4rem 1rem;
  background-color: rgba(0,0,0,.5);
  color: white;
  border: 2px var(--text);
  border-radius:20px;
}

.grid-area img{
  max-width: 80%;
  height:auto;
}

/*footer*/
footer{
  display:flex;
}
#links{
  display:flex;
  justify-content:space-around;
}